<div id="messages" role="log" aria-live="polite"></div>
<input id="chat-input" type="text" />


<div id="my-hook" phx-hook="Game" data-my-param="some_value"></div>
<div id="rectangle-container"></div>
